<footer>
  <div class="footer-social" style="margin-bottom:0.75rem;">
    <a href="mailto:ishitppatel@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
    <a href="https://linkedin.com/in/ishit-patel" target="_blank" rel="noopener"><i class="fab fa-linkedin"></i></a>
    <a href="https://github.com/IshitPatel" target="_blank" rel="noopener"><i class="fab fa-github"></i></a>
    <a href="https://medium.com/@ishitPatel" target="_blank" rel="noopener"><i class="fab fa-medium"></i></a>
  </div>
  <p>&copy; 2025 Ishit Patel. All rights reserved.</p>
</footer>
